html {
    height: 100%;
}

.navbar {
    background-color: rgba(149, 81, 212, 0.788)
}

.notas--prioridad {
    display: grid;
    grid-template-areas: 
    "nota--principal nota--sec1"
    "nota--principal none"
    "nota--principal nota--sec2";
    grid-template-rows: 200px 5% 200px;
    grid-template-columns: 65% 35%;
    grid-column-gap: 15px;
    grid-row-gap: 10px;


}

@media (max-width: 576px) {
    .notas--prioridad {
        display: grid;
        grid-template-areas: 
        "nota--principal"
        "nota--sec1"
        "nota--sec2";
        grid-template-rows: 250px 150px 150px;
        grid-template-columns: 90%;
        justify-content: center;
    }
}


.nota--principal {
    grid-area: nota--principal;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    box-shadow: -3px 3px 5px 1px gray;
}

.titulo-principal p {
    font-weight: lighter;
    font-size: small;
}

.titulo-principal h3 {
    font-weight: bold;
}

.titulo--secundario {
    padding-right: 5px;
}


.nota--sec1 {
    grid-area: nota--sec1;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    box-shadow: -3px 3px 5px 1px gray;

}

.nota--sec2 {
    grid-area: nota--sec2;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    box-shadow: -3px 3px 5px 1px gray;

} 

.submenu--header {
    visibility: hidden;
    opacity: 0;
    background-color: rgb(172, 33, 172);
    position: absolute;
    min-width: 110px;
    list-style: none;
    transition: opacity .3s;
    padding-left: 7px
}

.submenu--header li a {
    display: block;
    padding: 15px;
}

#menu--header li:hover .submenu--header{
    visibility: visible;
    opacity: 1;
    
}

@media (max-width: 768px) {
    .boton-sub-1 {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .boton-sub-2 {
        margin-top: 10px;
    }
}

.img{
  margin:10px auto;
  border-radius:5px;
  border: 1px solid #999;
  padding:13px;
  width:100%;
  height:70%;
  background-repeat:no-repeat;
  background:url(../Images/cristian-ritondo.jpeg);
  background-size: cover;
  }


.img-sec1{
    margin:10px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:100%;
    height:70%;
    background-repeat:no-repeat;
    background:url(../Images/Gerardo-Morales.jpg);
    background-size: cover;
    }

.img-sec2{
        margin:10px auto;
        border-radius:5px;
        border: 1px solid #999;
        padding:13px;
        width:100%;
        height:70%;
        background-repeat:no-repeat;
        background: url(../Images/prat-gay.jpg);
        background-size: cover;
        }

@media (max-width: 576px) {
    .img-sec1, .img-sec2 {
        margin: 10px 0px;
        padding: 0;
        height: 85%;
    }
}


@media (max-width: 576px) {
    .nota--sec1 {
        display: grid;
        grid-template-areas: 
        "img-sec-1 nota--principal";
        justify-content: center;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .nota--sec2 {
        display: grid;
        grid-template-areas: 
        "img-sec-2 nota--principal";
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
        justify-content: space-between;

    }
}