html {
    height: 100%;
}

.navbar {
    background-color: rgba(149, 81, 212, 0.788)
}

.notas--prioridad {
    display: grid;
    grid-template-areas: 
    "nota--principal nota--sec1"
    "nota--principal none"
    "nota--principal nota--sec2";
    grid-template-rows: 200px 5% 200px;
    grid-template-columns: 65% 35%;
    grid-column-gap: 15px;
    grid-row-gap: 10px;

}

@media (max-width: 576px) {
    .notas--prioridad {
        display: grid;
        grid-template-areas: 
        "nota--principal"
        "nota--sec1"
        "nota--sec2";
        grid-template-rows: 250px 150px 150px;
        grid-template-columns: 90%;
        justify-content: center;
    }
}


.nota--principal {
    grid-area: nota--principal;
    border-color: blueviolet;
    background-color: rgb(0, 184, 107);
    border-style: dotted;
}

.nota--sec1 {
    grid-area: nota--sec1;
    border-color: red;
    background-color: rgb(166, 184, 0);
    border-style: dotted;

}

.nota--sec2 {
    grid-area: nota--sec2;
    border-color: red;
    background-color: rgb(166, 184, 0);
    border-style: dotted;

} 

.submenu--header {
    visibility: hidden;
    opacity: 0;
    background-color: rgb(172, 33, 172);
    position: absolute;
    min-width: 110px;
    list-style: none;
    transition: opacity .3s;
    padding-left: 7px
}

.submenu--header li a {
    display: block;
    padding: 15px;
}

#menu--header li:hover .submenu--header{
    visibility: visible;
    opacity: 1;
    
}

@media (max-width: 768px) {
    .boton-sub-1 {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .boton-sub-2 {
        margin-top: 10px;
    }
}